[mcu nano]
# serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

# [adxl345]
# cs_pin: nano:PB2
#spi——software开启spi通信然后定义spi引脚
# spi_software_sclk_pin:nano:PB5
# spi_software_mosi_pin:nano:PB3
# spi_software_miso_pin:nano:PB4


# [resonance_tester]
# accel_chip: adxl345
# accel_per_hz: 50
# probe_points: 150,150,20  # an example
